# compiled output
/dist
/node_modules
/tmp
/out-tsc
/bazel-out

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.history/*

# Node
npm-debug.log
yarn-error.log

# Miscellaneous
.angular/cache
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings

# System files
Thumbs.db
.DS_Store
